{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": true,
  "jsxBracketSameLine": true
}
