@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-neutral-900 text-white;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

.themed {
  --background: #393939;
  --list-background: #393939;
  --item-hover-bg: #c2410c;
  --item-is-active-bg: #696969;
  --border-focus-color: #c2410c;
  --input-color: #ffffff;
  --border: #696969;
}

input {
  background: #393939;
  height: 42px;
  padding: 16px;
  width: 100%;
  border-radius: 3px;
}

.burger-menu > div {
  @apply w-5 h-0.5 bg-white my-1;
}
